<div style="text-align: center;">
  <div class="callout" style="display: inline-block">
      You can subscribe here (it's free!) → 
      <a href="{{ '/newsletter/#subscribe' | url }}"><strong>Subscribe</strong></a>
  </div>
</div>