<div style="text-align: center;">
  <div class="callout" style="display: inline-block">
      Join my email list (free!) →
      <a href="{{ '/email-list/#subscribe' | url }}"><strong>Subscribe</strong></a>
  </div>
</div>
